[Unit]
Description=Claymore service
After=<%= @systemd_unit_after %>

[Service]
<% @env_vars.each do |env_var| -%>
Environment=<%= env_var %>
<% end -%>
ExecStart=/usr/bin/screen -dmS claymore /opt/claymore/ethdcrminer64 \
    -epool <%= @epools.first %> \
    -ewal <%= @ewallet %> \
    -eworker <%= @hostname %> \
    -epsw <%= @epasswd %> \
    <% unless @esm.nil? %>-esm <%= @esm %><% end %> \
    <% unless @erate.nil? %>-erate <%= @erate %><% end %> \
    <% unless @estale.nil? %>-estale <%= @estale %><% end %> \
    <% unless @target_temp.nil? %>-tt <%= @target_temp %><% end %> \
    -wd <% if @enable_watchdog %>1<% else %>0<% end %> \
    -etha <%= @etha %> \
    -ejobtimeout <%= @ejobtimeout %> \
    -djobtimeout <%= @djobtimeout %> \
    -retrydelay <%= @retrydelay %> \
    -allpools <%= @allpools %> \
    -allcoins <%= @allcoins %> \
    -r <%= @restart_mode %> \
    <% unless @dcri.nil? %>-dcri <%= @dcri %><% end %> \
    <% unless @stop_temp.nil? %>-tstop <%= @stop_temp %><% end %> \
    <% unless @start_temp.nil? %>-tstart <%= @start_temp %><% end %> \
    <% unless @fan_min.nil? %>-fanmin <%= @fan_min %><% end %> \
    <% unless @fan_max.nil? %>-fanmax <%= @fan_max %><% end %> \
    <% unless @cclock.nil? %>-cclock <%= @cclock %><% end %> \
    <% unless @mclock.nil? %>-mclock <%= @mclock %><% end %> \
    -gser <% if @enable_gser %>1<% else %>0<% end %> \
    -mode <% if @enable_dual %>0 \
         -dpool <%= @dpools.first %> \
         -dwal <%= @dwallet %> \
         -dcoin <%= @dual_coin %> \
         <% unless @dpasswd.nil? %>-dpsw <%= @dpasswd %><% end %>
    <% else %>1<% end %>
ExecStop=/usr/bin/screen -S claymore -X quit
ExecReload=/usr/bin/screen -S claymore -X quit
<% if @systemd_exec_pre %>
ExecStartPre=<%= @systemd_exec_pre %>
<% end %>
RestartPreventExitStatus=255
Type=forking

[Install]
WantedBy=multi-user.target