<% dpools_parsed = @dpools.clone; dpools_parsed.delete_at(0) -%>
<% dpools_parsed.each do |dpool| -%>
POOL: <%= dpool %>, WALLET: <%= @dwallet %>, PSW: x, WORKER: <%= @hostname %>, ESM: 0, ALLPOOLS: 0
<% end -%>