<% epools_parsed = @epools.clone; epools_parsed.delete_at(0) -%>
<% epools_parsed.each do |epool| -%>
POOL: <%= epool %>, WALLET: <%= @ewallet %>, PSW: <%= @epasswd %>, WORKER: <%= @hostname %>, ESM: 0, ALLPOOLS: 0
<% end -%>